*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  line-height: inherit;
}

@font-face {
  font-family: "Barlow";
  font-weight: normal;
  src: local("Barlow"),
    url(./assets/fonts/Barlow-Regular.ttf) format("truetype");
}
